In [ ]:
import pandas as pd

In [ ]:
from google.colab import files
uploaded=files.upload()

Saving Titanic-Dataset.csv to Titanic-Dataset (1).csv

In [ ]:
df=pd.read_csv("Titanic-Dataset.csv")

In [ ]:
df

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q

In [ ]:
df

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked_C,Embarked_Q,Embarked_S
0,1,0,3,"Braund, Mr. Owen Harris",0,22.000000,1,0,A/5 21171,7.2500,NaN,False,False,True
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",1,38.000000,1,0,PC 17599,71.2833,C85,True,False,False
2,3,1,3,"Heikkinen, Miss. Laina",1,26.000000,0,0,STON/O2. 3101282,7.9250,NaN,False,False,True
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",1,35.000000,1,0,113803,53.1000,C123,False,False,True
4,5,0,3,"Allen, Mr. William Henry",0,35.000000,0,0,373450,8.0500,NaN,False,False,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",0,27.000000,0,0,211536,13.0000,NaN,False,False,True
887,888,1,1,"Graham, Miss. Margaret Edith",1,19.000000,0,0,112053,30.0000,B42,False,False,True
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",1,29.699118,1,2,W./C. 6607,23.4500,NaN,False,False,True
889,890,1,1,"Behr, Mr. Karl Howell",0,26.000000,0,0,111369,30.0000,C148,True,False,False
890,891,0,3,"Dooley, Mr. Patrick",0,32.000000,0,0,370376,7.7500,NaN,False,True,False

In [ ]:
df.head(10)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
5,6,0,3,"Moran, Mr. James",male,NaN,0,0,330877,8.4583,NaN,Q
6,7,0,1,"McCarthy, Mr. Timothy J",male,54.0,0,0,17463,51.8625,E46,S
7,8,0,3,"Palsson, Master. Gosta Leonard",male,2.0,3,1,349909,21.0750,NaN,S
8,9,1,3,"Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)",female,27.0,0,2,347742,11.1333,NaN,S
9,10,1,2,"Nasser, Mrs. Nicholas (Adele Achem)",female,14.0,1,0,237736,30.0708,NaN,C

In [ ]:
df.isnull().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

In [ ]:
df["Age"].fillna(df["Age"].mean(),inplace=True)

/tmp/ipython-input-2595122914.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df["Age"].fillna(df["Age"].mean(),inplace=True)

In [ ]:
df

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.000000,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.000000,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.000000,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.000000,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.000000,0,0,373450,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.000000,0,0,211536,13.0000,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.000000,0,0,112053,30.0000,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,29.699118,1,2,W./C. 6607,23.4500,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.000000,0,0,111369,30.0000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.000000,0,0,370376,7.7500,NaN,Q

In [ ]:
df.dropna(subset=['Embarked'],inplace=True)

In [ ]:
df["Embarked"].isnull().sum()

np.int64(0)

In [ ]:
df

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.000000,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.000000,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.000000,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.000000,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.000000,0,0,373450,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.000000,0,0,211536,13.0000,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.000000,0,0,112053,30.0000,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,29.699118,1,2,W./C. 6607,23.4500,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.000000,0,0,111369,30.0000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.000000,0,0,370376,7.7500,NaN,Q

In [ ]:
df['Sex']=df['Sex'].map({'male':0,"female":1})

In [ ]:
df

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",0,22.000000,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",1,38.000000,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",1,26.000000,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",1,35.000000,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",0,35.000000,0,0,373450,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",0,27.000000,0,0,211536,13.0000,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",1,19.000000,0,0,112053,30.0000,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",1,29.699118,1,2,W./C. 6607,23.4500,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",0,26.000000,0,0,111369,30.0000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",0,32.000000,0,0,370376,7.7500,NaN,Q

In [ ]:
df=pd.get_dummies(df,columns=['Embarked'],prefix="Embarked")

In [ ]:
df

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked_C,Embarked_Q,Embarked_S
0,1,0,3,"Braund, Mr. Owen Harris",0,22.000000,1,0,A/5 21171,7.2500,NaN,False,False,True
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",1,38.000000,1,0,PC 17599,71.2833,C85,True,False,False
2,3,1,3,"Heikkinen, Miss. Laina",1,26.000000,0,0,STON/O2. 3101282,7.9250,NaN,False,False,True
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",1,35.000000,1,0,113803,53.1000,C123,False,False,True
4,5,0,3,"Allen, Mr. William Henry",0,35.000000,0,0,373450,8.0500,NaN,False,False,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",0,27.000000,0,0,211536,13.0000,NaN,False,False,True
887,888,1,1,"Graham, Miss. Margaret Edith",1,19.000000,0,0,112053,30.0000,B42,False,False,True
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",1,29.699118,1,2,W./C. 6607,23.4500,NaN,False,False,True
889,890,1,1,"Behr, Mr. Karl Howell",0,26.000000,0,0,111369,30.0000,C148,True,False,False
890,891,0,3,"Dooley, Mr. Patrick",0,32.000000,0,0,370376,7.7500,NaN,False,True,False

In [ ]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler

In [ ]:
X = df[['Age', 'Fare', 'Sex', 'Pclass']]

In [ ]:
scaler = StandardScaler()
X_scaled = scaler.fit_transform(X)

In [ ]:
X_train,X_train=train_test_split(X_scaled,test_size=0.2,random_state=42)

In [ ]:
print("Training data:\n", X_train)
print("\nTesting data:\n", X_test)

Training data:
 [[-1.27570202e-01 -4.88075355e-01 -7.35342031e-01  8.25208629e-01]
 [-1.20772790e+00  1.76976292e+00  1.35991138e+00 -1.57221121e+00]
 [-1.20772790e+00 -4.19874610e-01  1.35991138e+00  8.25208629e-01]
 [ 2.67380407e-02 -3.84474648e-01 -7.35342031e-01 -3.73501291e-01]
 [-8.99111412e-01  9.57393893e-01  1.35991138e+00 -1.57221121e+00]
 [-2.04724323e-01 -5.05776343e-01 -7.35342031e-01  8.25208629e-01]
 [-3.59032565e-01 -3.84474648e-01 -7.35342031e-01 -3.73501291e-01]
 [-6.67649049e-01 -4.71801802e-01 -7.35342031e-01  8.25208629e-01]
 [ 7.21125131e-01  1.58621584e+00  1.35991138e+00 -1.57221121e+00]
 [ 2.67380407e-02  1.49645661e+00  1.35991138e+00 -1.57221121e+00]
 [-1.05341965e+00 -1.22744850e-01 -7.35342031e-01 -3.73501291e-01]
 [-4.36186686e-01 -3.27095423e-01  1.35991138e+00  8.25208629e-01]
 [ 1.64697458e+00 -5.04181805e-01 -7.35342031e-01  8.25208629e-01]
 [-2.81878444e-01 -3.55197150e-01 -7.35342031e-01  8.25208629e-01]
 [-5.04160804e-02 -4.55276585e-01 -7.35342031e-01  8.25208629e-01]
 [-1.27570202e-01 -1.92707239e-01 -7.35342031e-01  8.25208629e-01]
 [ 1.56982046e+00  1.49645661e+00 -7.35342031e-01 -1.57221121e+00]
 [ 3.52372719e-03 -5.00658519e-01 -7.35342031e-01  8.25208629e-01]
 [ 1.03892162e-01  9.88033837e-02 -7.35342031e-01 -3.73501291e-01]
 [ 3.52372719e-03 -4.87237820e-01 -7.35342031e-01  8.25208629e-01]
 [-1.05341965e+00  2.98036132e-01  1.35991138e+00  8.25208629e-01]
 [ 3.52372719e-03  4.61113930e-01  1.35991138e+00 -1.57221121e+00]
 [ 9.52587494e-01 -4.77002172e-01 -7.35342031e-01  8.25208629e-01]
 [ 3.52372719e-03 -8.80998783e-02 -7.35342031e-01 -1.57221121e+00]
 [ 3.52372719e-03 -4.84133302e-01 -7.35342031e-01  8.25208629e-01]
 [ 7.98279252e-01 -8.80998783e-02 -7.35342031e-01 -1.57221121e+00]
 [ 4.89662767e-01 -3.86991281e-01 -7.35342031e-01 -3.73501291e-01]
 [ 3.52372719e-03 -3.97561138e-01  1.35991138e+00 -3.73501291e-01]
 [ 3.52372719e-03  2.07437356e-01 -7.35342031e-01 -1.57221121e+00]
 [-2.81878444e-01 -4.34807302e-01 -7.35342031e-01 -3.73501291e-01]
 [-1.27570202e-01  6.85192328e-02 -7.35342031e-01 -1.57221121e+00]
 [ 3.52372719e-03 -4.90173220e-01  1.35991138e+00  8.25208629e-01]
 [ 3.52372719e-03 -4.84133302e-01 -7.35342031e-01  8.25208629e-01]
 [ 4.89662767e-01  1.61634642e-01 -7.35342031e-01 -1.57221121e+00]
 [ 7.98279252e-01 -8.44920337e-02 -7.35342031e-01  8.25208629e-01]
 [ 5.66816888e-01  4.22861113e-01 -7.35342031e-01 -1.57221121e+00]
 [-1.90211499e+00 -2.58475910e-01  1.35991138e+00  8.25208629e-01]
 [ 4.12508646e-01  9.66855078e+00 -7.35342031e-01 -1.57221121e+00]
 [ 3.52372719e-03 -4.70795149e-01 -7.35342031e-01  8.25208629e-01]
 [ 3.52372719e-03 -4.84133302e-01 -7.35342031e-01  8.25208629e-01]
 [ 1.26120398e+00 -1.22744850e-01 -7.35342031e-01 -3.73501291e-01]
 [-3.59032565e-01 -4.86649935e-01  1.35991138e+00  8.25208629e-01]
 [-5.13340807e-01 -3.84474648e-01 -7.35342031e-01 -3.73501291e-01]
 [-2.81878444e-01 -4.87237820e-01 -7.35342031e-01  8.25208629e-01]
 [ 3.35354525e-01 -1.11671667e-01 -7.35342031e-01 -1.57221121e+00]
 [ 7.98279252e-01 -2.20795434e-02 -7.35342031e-01 -1.57221121e+00]
 [-2.81878444e-01 -1.22744850e-01  1.35991138e+00 -3.73501291e-01]
 [-4.36186686e-01 -5.04266363e-01 -7.35342031e-01  8.25208629e-01]
 [ 3.35354525e-01 -3.84474648e-01 -7.35342031e-01 -3.73501291e-01]
 [ 1.56982046e+00  4.33714701e+00  1.35991138e+00 -1.57221121e+00]
 [-1.74780674e+00 -1.17711585e-01  1.35991138e+00 -3.73501291e-01]
 [-8.21957291e-01 -4.87572029e-01  1.35991138e+00  8.25208629e-01]
 [-5.90494928e-01 -4.89251126e-01 -7.35342031e-01  8.25208629e-01]
 [ 1.10689574e+00 -1.22744850e-01 -7.35342031e-01 -3.73501291e-01]
 [-1.28488202e+00 -2.53609749e-01  1.35991138e+00 -3.73501291e-01]
 [-8.21957291e-01 -1.22744850e-01  1.35991138e+00 -3.73501291e-01]
 [ 1.18404986e+00 -3.55197150e-01  1.35991138e+00  8.25208629e-01]
 [ 7.21125131e-01 -4.86649935e-01 -7.35342031e-01  8.25208629e-01]
 [-1.05341965e+00 -4.60644059e-01 -7.35342031e-01  8.25208629e-01]
 [ 2.67380407e-02 -4.34807302e-01 -7.35342031e-01 -3.73501291e-01]
 [-9.76265534e-01 -4.86649935e-01  1.35991138e+00  8.25208629e-01]
 [-1.27570202e-01 -3.56288362e-01  1.35991138e+00  8.25208629e-01]
 [ 2.34136167e+00  8.68808422e-01  1.35991138e+00 -1.57221121e+00]
 [-1.05341965e+00 -4.54940363e-01 -7.35342031e-01  8.25208629e-01]
 [-2.04724323e-01 -4.34807302e-01  1.35991138e+00 -3.73501291e-01]
 [-8.99111412e-01 -3.84474648e-01 -7.35342031e-01 -3.73501291e-01]
 [ 1.56982046e+00 -4.84133302e-01 -7.35342031e-01  8.25208629e-01]
 [-1.27570202e-01  4.91228963e-01 -7.35342031e-01  8.25208629e-01]
 [ 7.21125131e-01  1.02802671e+00  1.35991138e+00 -1.57221121e+00]
 [-4.36186686e-01  7.49016707e-01  1.35991138e+00 -1.57221121e+00]
 [-2.04724323e-01 -3.84474648e-01 -7.35342031e-01 -3.73501291e-01]
 [-2.13357735e+00  2.40496101e+00  1.35991138e+00 -1.57221121e+00]
 [ 3.52372719e-03 -3.39259819e-01  1.35991138e+00  8.25208629e-01]
 [-2.04724323e-01 -4.71801802e-01 -7.35342031e-01  8.25208629e-01]
 [ 4.89662767e-01 -2.95889178e-01  1.35991138e+00  8.25208629e-01]
 [ 4.12508646e-01 -2.23410157e-01  1.35991138e+00 -3.73501291e-01]
 [-8.21957291e-01 -4.81952891e-01 -7.35342031e-01  8.25208629e-01]
 [ 4.12508646e-01 -5.02756384e-01 -7.35342031e-01  8.25208629e-01]
 [-2.13357735e+00 -4.35562291e-01  1.35991138e+00  8.25208629e-01]
 [-5.04160804e-02 -4.22126048e-02 -7.35342031e-01 -1.57221121e+00]
 [ 1.18404986e+00 -4.90173220e-01  1.35991138e+00  8.25208629e-01]
 [ 2.67380407e-02 -2.20795434e-02  1.35991138e+00 -1.57221121e+00]
 [-8.99111412e-01 -3.84474648e-01  1.35991138e+00 -3.73501291e-01]
 [ 3.52372719e-03 -4.90173220e-01  1.35991138e+00  8.25208629e-01]
 [ 3.35354525e-01 -2.23410157e-01 -7.35342031e-01 -3.73501291e-01]
 [ 3.52372719e-03 -4.90173220e-01 -7.35342031e-01  8.25208629e-01]
 [ 9.52587494e-01 -4.94199833e-01 -7.35342031e-01  8.25208629e-01]
 [-5.13340807e-01 -3.84474648e-01 -7.35342031e-01 -3.73501291e-01]
 [-3.59032565e-01 -5.00239751e-01 -7.35342031e-01  8.25208629e-01]
 [ 3.52372719e-03 -4.84133302e-01 -7.35342031e-01  8.25208629e-01]
 [ 1.03892162e-01 -4.86649935e-01 -7.35342031e-01  8.25208629e-01]
 [-5.90494928e-01 -4.48145455e-01  1.35991138e+00  8.25208629e-01]
 [-5.90494928e-01 -5.00239751e-01 -7.35342031e-01  8.25208629e-01]
 [ 2.58200404e-01 -4.89669894e-01 -7.35342031e-01  8.25208629e-01]
 [ 3.52372719e-03  4.91228963e-01 -7.35342031e-01  8.25208629e-01]
 [-1.16915084e+00 -3.55197150e-01  1.35991138e+00  8.25208629e-01]
 [ 3.52372719e-03 -4.87237820e-01 -7.35342031e-01  8.25208629e-01]
 [ 4.12508646e-01 -4.34807302e-01 -7.35342031e-01 -3.73501291e-01]
 [-1.97926911e+00 -4.22057034e-01 -7.35342031e-01  8.25208629e-01]
 [ 3.52372719e-03 -4.90173220e-01 -7.35342031e-01  8.25208629e-01]
 [-3.59032565e-01 -5.04266363e-01 -7.35342031e-01  8.25208629e-01]
 [-1.13057378e+00  3.60866641e+00  1.35991138e+00 -1.57221121e+00]
 [-1.59349850e+00 -8.44920337e-02  1.35991138e+00  8.25208629e-01]
 [ 1.81046283e-01 -4.77841720e-01 -7.35342031e-01  8.25208629e-01]
 [ 2.49566992e+00 -4.34807302e-01 -7.35342031e-01 -3.73501291e-01]
 [ 1.02974161e+00 -4.84133302e-01 -7.35342031e-01  8.25208629e-01]
 [-2.04724323e-01 -4.86649935e-01  1.35991138e+00  8.25208629e-01]
 [-1.05341965e+00  1.47038172e-01  1.35991138e+00 -1.57221121e+00]
 [-5.90494928e-01 -5.00743078e-01 -7.35342031e-01  8.25208629e-01]
 [-6.67649049e-01 -4.76416300e-01 -7.35342031e-01  8.25208629e-01]
 [-7.44803170e-01 -4.47978350e-01 -7.35342031e-01  8.25208629e-01]
 [-5.13340807e-01  6.29392097e-01 -7.35342031e-01 -1.57221121e+00]
 [-1.05341965e+00  1.52826427e-01 -7.35342031e-01  8.25208629e-01]
 [ 4.12508646e-01  4.00714745e-01  1.35991138e+00 -1.57221121e+00]
 [ 3.52372719e-03 -4.90173220e-01 -7.35342031e-01  8.25208629e-01]
 [-8.99111412e-01 -4.88075355e-01 -7.35342031e-01  8.25208629e-01]
 [ 1.87843695e+00 -3.64341587e-01 -7.35342031e-01 -3.73501291e-01]
 [ 3.52372719e-03 -6.46204446e-01 -7.35342031e-01 -3.73501291e-01]
 [ 2.67380407e-02 -3.95044505e-01  1.35991138e+00  8.25208629e-01]
 [-1.05341965e+00 -2.83809341e-01 -7.35342031e-01  8.25208629e-01]
 [-2.05642323e+00 -1.22744850e-01 -7.35342031e-01 -3.73501291e-01]
 [ 2.67380407e-02  1.23623679e+00  1.35991138e+00 -1.57221121e+00]
 [ 1.41551222e+00 -4.88075355e-01 -7.35342031e-01  8.25208629e-01]
 [ 3.52372719e-03 -3.54275056e-01 -7.35342031e-01  8.25208629e-01]
 [-8.21957291e-01  1.18749868e+00  1.35991138e+00 -1.57221121e+00]
 [ 3.52372719e-03  1.14773588e+00  1.35991138e+00 -1.57221121e+00]
 [ 3.52372719e-03 -8.80998783e-02 -7.35342031e-01 -1.57221121e+00]
 [ 7.21125131e-01  4.79233685e-01  1.35991138e+00 -1.57221121e+00]
 [-6.67649049e-01 -4.90173220e-01  1.35991138e+00  8.25208629e-01]
 [ 2.34136167e+00 -1.11671667e-01 -7.35342031e-01 -1.57221121e+00]
 [-5.04160804e-02 -4.34807302e-01  1.35991138e+00 -3.73501291e-01]
 [-1.05341965e+00 -4.34807302e-01 -7.35342031e-01 -3.73501291e-01]
 [ 1.81046283e-01  8.33575565e-01 -7.35342031e-01 -3.73501291e-01]
 [ 3.52372719e-03 -5.00743078e-01 -7.35342031e-01  8.25208629e-01]
 [-2.81878444e-01 -4.88075355e-01  1.35991138e+00  8.25208629e-01]
 [ 1.03892162e-01 -1.17711585e-01  1.35991138e+00 -3.73501291e-01]
 [ 1.03892162e-01 -4.89669894e-01 -7.35342031e-01  8.25208629e-01]
 [-4.36186686e-01 -3.84474648e-01  1.35991138e+00 -3.73501291e-01]
 [-8.99111412e-01 -2.87835954e-01  1.35991138e+00  8.25208629e-01]
 [-8.99111412e-01 -1.83144034e-01  1.35991138e+00 -3.73501291e-01]
 [-5.04160804e-02 -3.39259819e-01  1.35991138e+00  8.25208629e-01]
 [ 3.52372719e-03 -4.87237820e-01 -7.35342031e-01  8.25208629e-01]
 [-1.27570202e-01 -3.84474648e-01  1.35991138e+00 -3.73501291e-01]
 [ 7.21125131e-01 -5.98290335e-02  1.35991138e+00  8.25208629e-01]
 [ 3.52372719e-03  1.58621584e+00  1.35991138e+00 -1.57221121e+00]
 [ 5.66816888e-01  4.11872488e-01 -7.35342031e-01 -1.57221121e+00]
 [ 2.80428640e+00 -4.34807302e-01 -7.35342031e-01 -3.73501291e-01]
 [ 3.52372719e-03  2.30370781e+00  1.35991138e+00 -1.57221121e+00]
 [ 3.52372719e-03 -4.89669894e-01 -7.35342031e-01  8.25208629e-01]
 [-3.59032565e-01  2.40496101e+00  1.35991138e+00 -1.57221121e+00]
 [-4.36186686e-01 -4.95291045e-01 -7.35342031e-01  8.25208629e-01]
 [-1.27570202e-01 -1.22744850e-01  1.35991138e+00 -3.73501291e-01]
 [ 1.33835810e+00  4.00714745e-01 -7.35342031e-01 -1.57221121e+00]
 [-2.22384767e+00 -6.23456662e-02 -7.35342031e-01 -3.73501291e-01]
 [-9.76265534e-01 -5.00658519e-01 -7.35342031e-01  8.25208629e-01]
 [-1.97926911e+00  1.38984948e-01  1.35991138e+00 -3.73501291e-01]
 [-1.27570202e-01  3.02062745e-01 -7.35342031e-01 -1.57221121e+00]
 [ 3.11290288e+00  7.83242912e-01 -7.35342031e-01 -1.57221121e+00]
 [ 2.10989931e+00 -3.97561138e-01 -7.35342031e-01 -3.73501291e-01]
 [ 2.58200404e-01  1.16577108e+00  1.35991138e+00 -1.57221121e+00]
 [-3.59032565e-01 -4.89669894e-01 -7.35342031e-01  8.25208629e-01]
 [-9.76265534e-01  1.54628594e+00  1.35991138e+00 -1.57221121e+00]
 [ 1.81046283e-01 -4.86649935e-01 -7.35342031e-01  8.25208629e-01]
 [ 3.52372719e-03 -4.75912973e-01 -7.35342031e-01  8.25208629e-01]
 [ 2.72713228e+00  6.01626592e-01 -7.35342031e-01 -1.57221121e+00]
 [-5.04160804e-02 -4.35562291e-01  1.35991138e+00  8.25208629e-01]
 [ 3.52372719e-03  3.97946450e-01  1.35991138e+00 -1.57221121e+00]
 [-5.90494928e-01 -5.00239751e-01 -7.35342031e-01  8.25208629e-01]
 [ 4.12508646e-01 -5.04266363e-01 -7.35342031e-01  8.25208629e-01]
 [ 3.35354525e-01 -1.83144034e-01  1.35991138e+00 -3.73501291e-01]
 [-4.36186686e-01 -3.84474648e-01  1.35991138e+00 -3.73501291e-01]
 [ 1.80128283e+00  3.90229447e-01  1.35991138e+00 -1.57221121e+00]
 [-1.59349850e+00 -3.39259819e-01  1.35991138e+00  8.25208629e-01]
 [-9.76265534e-01 -5.02756384e-01 -7.35342031e-01  8.25208629e-01]
 [-8.99111412e-01 -4.89669894e-01  1.35991138e+00  8.25208629e-01]
 [ 6.43971009e-01 -1.42779821e-02  1.35991138e+00  8.25208629e-01]
 [ 2.58200404e-01 -3.27095423e-01  1.35991138e+00  8.25208629e-01]
 [-1.97926911e+00 -3.09982321e-01  1.35991138e+00  8.25208629e-01]]

NameError: name 'X_test' is not defined

In [ ]:
import numpy as np
import matplotlib.pyplot as plt
from sklearn import datasets
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error, r2_score

In [ ]:
df

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked_C,Embarked_Q,Embarked_S
0,1,0,3,"Braund, Mr. Owen Harris",0,22.000000,1,0,A/5 21171,7.2500,NaN,False,False,True
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",1,38.000000,1,0,PC 17599,71.2833,C85,True,False,False
2,3,1,3,"Heikkinen, Miss. Laina",1,26.000000,0,0,STON/O2. 3101282,7.9250,NaN,False,False,True
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",1,35.000000,1,0,113803,53.1000,C123,False,False,True
4,5,0,3,"Allen, Mr. William Henry",0,35.000000,0,0,373450,8.0500,NaN,False,False,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",0,27.000000,0,0,211536,13.0000,NaN,False,False,True
887,888,1,1,"Graham, Miss. Margaret Edith",1,19.000000,0,0,112053,30.0000,B42,False,False,True
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",1,29.699118,1,2,W./C. 6607,23.4500,NaN,False,False,True
889,890,1,1,"Behr, Mr. Karl Howell",0,26.000000,0,0,111369,30.0000,C148,True,False,False
890,891,0,3,"Dooley, Mr. Patrick",0,32.000000,0,0,370376,7.7500,NaN,False,True,False